node {
 name = "emqx@127.0.0.1"
 cookie = "__EMQX_COOKIE__"
 data_dir = "data"
}
cluster {
 name = emqxcl
 discovery_strategy = manual
}
log.console_handler.level = warning
listeners.tcp.default.bind = "0.0.0.0:1883"
listeners.ws.default.bind = "0.0.0.0:8083"
listeners.ws.default.websocket.mqtt_path = "/mqtt"
dashboard.listeners.http.bind = 18083

authentication = [
 {
  mechanism = password_based
  backend = built_in_database
  user_id_type = username
  password_hash_algorithm.name = plain
  bootstrap_file = "/opt/emqx/etc/auth-built-in-db-bootstrap.csv"
 },
 {
  mechanism = password_based
  backend = http
  method = post
  url = "http://backend:8080/internal/broker/authentication"
  headers = {"content-type" = "application/json", "X-Broker-Token" = "__BROKER_CALLBACK_TOKEN__"}
  body = {username = "${username}", password = "${password}", clientid = "${clientid}"}
  request_timeout = "3s"
 }
]
authorization {
 no_match = deny
 deny_action = disconnect
 cache.enable = false
 sources = [
  {type = file, path = "/opt/emqx/etc/test-acl.conf"},
  {
   type = http
   method = post
   url = "http://backend:8080/internal/broker/authorization"
   headers = {"content-type" = "application/json", "X-Broker-Token" = "__BROKER_CALLBACK_TOKEN__"}
   body = {username = "${username}", clientid = "${clientid}", action = "${action}", topic = "${topic}"}
   request_timeout = "3s"
  }
 ]
}
